@import url("https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,400,500,600,700,800,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Virgil';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Virgil.woff2') format('woff2')
}

@font-face {
  font-family: 'custom-font';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/custom-font.woff2') format('woff2')
}

:root {
  font-family: 'DM Sans', 'custom-font', sans-serif;
  --primary: #010404;
  --secondary: #1a202c
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}