@import url("https://fonts.googleapis.com/css?family=Inter:wght@200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Virgil';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Virgil.woff2') format('woff2')
}

:root {
  font-weight: 500;
  font-family: 'Inter', ui-sans-serif;
}